.current-temperature{
		text-align: center;
	}
.wetter-voraussage{
	text-align: center;
}
#main{
	background-color: black;
	color: white;
}
#sub{
	background-color: black;
	color: white
}
#footer{
	width: 100%;
	position: fixed;
	bottom: 0;
}
#sonne{
	position: center;
}
#content{
	text-align: center;
}
#sonne{
	transform:rotate(180deg);
}
.canvas{
	display: block;
	height: 128px;
	width: 128px;
	margin: 0 auto;

}