.current-temperature{
		text-align: center;
	}
.wetter-voraussage{
	text-align: center;
}
#main{
	background-color: #ff1a02;
	color: black;
	text-shadow: none;
}
#sub{
	background-color: #ff1a02;
	color: black;
	text-shadow: none;
}
#head{
	background-color: #ff1a02;
	color: black;
	text-shadow: none;
	border: none;
	border-bottom: 5px;
	border-color: black;
}
#footer{
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: #ff1a02;
	color: black;
	text-shadow: none;
	border-top-width: 5px;
	border-color: black;
}
#content{
	text-align: center;
}

}
.canvas{
	display: block;
	height: 128px;
	width: 128px;
	margin: 0 auto;
}
#btn{
	border-color: black;
	border-width: 5px;
	background-color: #ff1a02;
	text-shadow: none;
}
#btnb{
	border-color: black;
	border-width: 5px;
	background-color: #ff1a02;
	text-shadow: none;
	float: left;
}