font-family: 'Play', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Squada One', cursive;

.current-temperature{
	text-align: center;
	}
.wetter-voraussage{
	text-align: center;
}
#main{
	background-color: #ff1a02;
	color: black;
	text-shadow: none;
}
#mid{
	background-color: #ff1a02;
	color: black;
	text-shadow: none;
}
#sub{
	background-color: #ff1a02;
	color: black;
	text-shadow: none;
}
#head{
	font-family: 'Orbitron', sans-serif;
	background-color: #ff1a02;
	color: black;
	text-shadow: none;
	border: none;
	border-bottom: 5px;
	border-color: black;
	text-align: center;
}
#footer{
	font-family: 'Orbitron', sans-serif;
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: #ff1a02;
	color: black;
	text-shadow: none;
	border-top-width: 5px;
	border-color: black;
}
#content{
	text-align: center;
	font-family: 'Orbitron', sans-serif;
}
#h2{
	font-family: 'Orbitron', sans-serif;
}
.canvas{
	display: block;
	height: 128px;
	width: 128px;
	margin: 0 auto;
}
#btnl{
	font-family: 'Play', sans-serif;
	border: none;
	background-color: #ff1a02;
	color: black;
	text-shadow: none;
	float: left;
}
#btnr{
	font-family: 'Play', sans-serif;
	border: none;
	background-color: #ff1a02;
	color: black;
	text-shadow: none;
	float: right;

